<!doctype html>
<html>
  <head>
    <title>Backbone Adapters - Twitter</title>
    <link rel="stylesheet" href="demo.css"/>
  </head>
  <body>

    <div id="friendapp">
    
      <header>
        <h1>Twitter Feed</h1>
        <div id="login-btn"></div>
      </header>
  
      <section id="main">
        <ul id="tweet-list"></ul>
      </section>
  
      <footer>
        <div id="friend-count"></div>
      </footer>
    
    </div>
    
    <div id="instructions">
      Connect to view your tweets
    </div>
  
    <div id="credits">
      Created by
      <br />
      <a href="http://twitter.com/ianmcdaniel">Ian McDaniel</a>.
    </div>
  
    <script src="../../test/vendor/jquery.js"></script>
    <script src="../../test/vendor/underscore.js"></script>
    <script src="../../test/vendor/backbone.js"></script>    
        
    <script src="http://platform.twitter.com/anywhere.js?id=5uFsNsPhtHSmoLCOkfKH4Q&v=1"></script>

    <script src="demo.js"></script>
    
    <script>
    twttr.anywhere(function(T){
      T('#login-btn').connectButton();
    })
    
    </script>
    
    
    <!-- Templates -->
  
    <script type="text/template" id="friend-template">
      <div class="view">
        <a href="http://facebook.com/<%= id %>" class="view-on-fb" target="_blank">view on facebook</a>
        <img src=" http://graph.facebook.com/<%= id %>/picture" style="vertical-align:middle"/>
        <label><%= name %></label>
      </div>
    </script>
  
    <script type="text/template" id="stats-template">
      <% if (count) { %>
        You have <%= count %> facebook friends
      <% } %>
    </script>  

  </body>
</html>
