<!doctype html>
<html>
  <head>
    <title>Backbone Adapters - Github</title>
    <link rel="stylesheet" href="demo.css"/>
  </head>
  <body>

    <div id="friendapp">
    
      <header>
        <h1>Github (alpha)</h1>
        <a id="login-btn" href="https://github.com/login/oauth/authorize?client_id=81dec6162baa6b6beed0&scopes=user">
          Connect to Github
        </a>
      </header>
  
      <section id="main">
        <ul id="friend-list"></ul>
      </section>
  
      <footer>
        <div id="friend-count"></div>
      </footer>
    
    </div>
    
    <div id="instructions">
      Login to view your github stuff
    </div>
  
    <div id="credits">
      Created by
      <br />
      <a href="http://twitter.com/ianmcdaniel">Ian McDaniel</a>.
    </div>
  
    <script src="../../test/vendor/jquery.js"></script>
    <script src="../../test/vendor/underscore.js"></script>
    <script src="../../test/vendor/backbone.js"></script>    
        
    <script src="../../adapters/github.sync.js"></script>
    <script src="demo.js"></script>
    
    <!-- Templates -->
  
    <script type="text/template" id="friend-template">
      <div class="view">


        <label><%= name %></label>
      </div>
    </script>
  
    <script type="text/template" id="stats-template">
      <% if (count) { %>
        You have <%= count %> items
      <% } %>
    </script>  

    <script>
function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}

var params = getUrlVars();
if(params.code) {
  $('login-btn').hide();
  alert('your connected! ' + params.code)
} else {
  $('login-btn').show()
}
    
    </script>


  </body>
</html>
